<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authorization</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        nav {
            background-color: #333;
            color: #fff;
            padding: 10px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline-block;
            margin-right: 20px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

        header {
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
   <nav> 
    <ul>
        <% if (user) {%>
        <li><a href="/auth/logout" class="logout">Logout</a></li>
        <% } else { %>
        <li><a href="/auth/login" class="login">Login</a></li>
        <% } %>
        <li><a href="/" class="homepage">HomePage</a></li>  
        <li><a href="/profile">Profile</a></li>
    </ul>
   </nav>
   <header>
    <h1>Lets get started</h1>
    <h2>HomePage</h2>
   </header>
</body>
</html>
