<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href = "/auth/logout">Logout</a></li>
            <li><a href = "/auth/login">Login</a></li>
            <li><a href = "/">HomePage</a></li>     
        </ul>
    </nav>
    <header>
        <h1>Login using ...</h1>
    </header>
    <main>
        <a class ="google-btn" href= "/auth/google">Google</a>
    </main>
</body>
</html>