.flex-container {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    color: black;
}

.navdes {
    background-color: #ffffff;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    color: black;
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 200px;
}

.btn,
#login-btn,
#signup-btn {
    /* Adjust the padding for uniform size */
    margin: auto;
    
    transition-duration: 0.4s;
}

.btn:hover,
#login-btn:hover,
#signup-btn:hover {
    transform: translateY(-2px);
    transform: scale(1.1, 1.1);
}

#signup-btn {
    background-color: #0093ff;
    color: white;
}
#login-btn {
    margin: auto;
    transition-duration: 0.4s;
    background-color: #0a0a0a;
    color: white;
    border: 5px solid white;
    width: 100px;
    height: 40px;
    text-align: center;
    padding: 10% 20%;
    border-radius: 20%;
}
