body{
    background-color: #fdfaf9;
}
.flex-container1{
    color: #fff;
    margin-top: 50px;
   
    display: flex;
    background-color : #fdfaf9;
    justify-content:center ;
    align-items: center;
    text-align: center;
     margin-left: auto;
    margin-right: auto;
   
}
.bgnd{
    margin-top: 500px;
}
#signup-btn{
    color: white;
    background-color: black;
    padding: 15px;
    margin: 15px;
    border-radius: 10%;
    border-color: transparent;
    transition-duration: 0.4s;
    font-size: 15px;
}
#signup-btn:hover{
    transform: translateY(-2px);
    transform: scale(1.1, 1.1);
}


.card{
    width: 300px;
    height: 300px;
  background-color: #0093ff;
  margin: 40px 100px;
  border-radius: 20px;
  opacity: 0.9;
   transition-duration: 0.4s;
}
.card:hover{
 background-color: #30a6fb;
 text-shadow: 1px 1px #222;
 transform: translateY(-3px);
 transform: scale(1.02,1.02);
}


.card img{
    width: 150px;
}
.card h2{
    margin-top: 30px;
    font-size: 30px;
}
.name{
background-color: transparent;
}
.container {
  display: flex; /* Use flexbox */
  padding-top: 5%;
}

.img-wrapper {
  flex: 1; /* Take up half of the container */
  
}

.back-text {
  flex: 1; /* Take up half of the container */
  display: flex; /* Nested flexbox to stack text vertically */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  padding: 20px 20px; /* Optional padding for spacing */
  font-size: larger;
}

.back-img {
  width: 60%; /* Ensure image takes up full width */
  height: auto; /* Maintain aspect ratio */
  margin-top: 100px;
}
#svg{
  width: 100%;
  margin-top: 20px;
}